*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

body {
  height: 100vh;
  background-color: #2C3F34; 
}

.container {
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Altura total da viewport */
  padding: 16px;
}

.buttons-container {
  margin-bottom: 16px;
  max-width: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.buttons-container button{
  border: none;
  background-color: #4D735A;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  height: 32px;
  justify-content: center; 
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: filter 0.2s;
  margin-top: 16px;
}

.buttons-container button:hover {
  filter: brightness(0.8);
}

.content-container {
  display: flex;
}

.grid {
  width: 200px;
  min-width: 200px;
  height: 400px;
  background: linear-gradient(to bottom, #365946 0%, #4D735A 100%);
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.content-right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.mini-grid {
  width: 120px;
  height: 120px;
  background: linear-gradient(to bottom, #365946 0%, #4D735A 100%);
  display: flex;
  flex-wrap: wrap;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}

.content-right h3 {
  font-size: 28px;
  margin-top: 24px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 250px;
  word-wrap: break-word;
  display: block;
}

.shapePainted {
  background: red;
  border: 2px solid black;
}

.blue {
  background: linear-gradient(to right, #0033cc, #99b3ff);
}

.yellow {
  background: linear-gradient(to right, #ffcc00, #ffeb99);
}

.red {
  background: linear-gradient(to right, #ff3300, #ff5c33, #ff8566);
}

.orange {
  background: linear-gradient(to right, #b34700, #ff751a, #ff944d);
}

.pink {
  background: linear-gradient(to right, #cc0099, #ff80ff, #ff99ff);
}

.mobile-buttons-container {
  margin-top: 20px;
  max-width: 400px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 64px 64px;
  gap: 12px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.mobile-buttons-container button {
  background: linear-gradient(to right, #2f4d39, #4D735A);
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  height: 62px;
  justify-content: center; 
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: filter 0.2s;

}

.mobile-buttons-container button span {
  font-weight: bold;
  color: #fff;
}

/* RESPONSIVIDADE */

@media (max-width: 990px) {
  .mobile-buttons-container {
    display: grid;
  }
}

@media (max-width: 500px) {
  .content-right {
    margin-left: 16px;
  }

  .content-right h3 {
    font-size: 20px;
    text-align: center;
  }

  .score {
    display: block;
  }

  .mobile-buttons-container {
    margin: 10px; /* Centraliza horizontalmente */
    display: grid;
    justify-content: center; /* Centraliza verticalmente */
  }

}
